* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
	color: #FFFFFF;
  font-size: 16px;
}

body {
	background-color: #08090a;
}

.logo {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.apply-form {
	width: 50%;
	margin: 5rem auto;
	padding: 2.5rem;
	border-radius: 10px;
	background-color: #0f0f12;
	border: 1px solid #27272F;
}

h1, h1 u {
	margin: 1rem 0 1.5rem 0;
	text-align: center;
	font-size: 2rem;
	font-weight: 500;
}

h1 u {
	text-decoration-color: #A076F9;
}

.apply-form form {
	display: flex;
	flex-direction: column;
}

.required {
	color: #FF5E72;
}

label {
	margin-bottom: 0.5rem;
}

input[id="fname"], input[id="femail"], input[id="fprofile-link"] {
	margin-bottom: 1rem;
}

input[id="fname"], input[id="femail"], input[id="fprofile-link"], input[id="fads-link"] {
	height: 2rem;
	padding: 0 0.25rem 0 0.25rem;
	border-radius: 4px;
	border: 1px solid #27272F;
	font-size: 1rem;
	background: #1A1A1F;
	color: #D1D5DB;
	outline: none;
}

input[id="fname"]:focus, input[id="femail"]:focus, input[id="fprofile-link"]:focus, input[id="fads-link"]:focus, #reason:focus {
	outline: 1px solid #27272F;
}

#fprofile-link {
	margin-bottom: 1.5rem;
}

legend {
	margin-bottom: 0.75rem;
}

li {
	list-style-type: none;
	display: flex;
}

li label {
	color: #D1D5DB;
}

li label:hover, input[type="radio"]:hover {
	cursor: pointer;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  margin: 0 0.5rem 0 0;
  display: grid;
  place-content: center;
  font: inherit;
}

input[type="radio"]::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #fff; 
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

#f100000, #both-radio, #reason {
	margin-bottom: 1.5rem;
}

.optional {
	color: #D1D5DB;
}

#reason {
	padding: 0.5rem;
	border-radius: 4px;
	border: 1px solid #27272F;
	font-size: 1rem;
	background: #1A1A1F;
	color: #D1D5DB;
	outline: none;
	resize: none;
}

.apply {
	height: 2.5rem;
	margin-top: 1.5rem;
	border-radius: 0.25rem;
	font-size: 1rem;
	border: none;
	background: linear-gradient(155deg, #A076F9 0% 25%, #7A3FF2 65% 100%);
	background-size: 200% 100%;
	background-position: center center;
	transition: 1s ease-out;
	z-index: 2;
}

.apply:hover {
	cursor: pointer;
	background-position: right center;
}

.apply:active {
	background-position: left center;
	transition: 0.2s;
}

@media (max-width: 768px) {
	.apply-form {
		width: 80%;
	}
}

@media (max-width: 400px) {
	.apply-form {
		width: 90%;
		margin: 2.5rem auto;
		padding: 1rem;
	}

	h1, h1 u {
		font-size: 1.5rem;
	}
}