* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
	color: #FFFFFF;
	font-size: 16px;
}

body {
	background-color: #08090a;
}

.logo {
	position: absolute;
	top: 1rem;
	left: 1rem;
}

.curved-line {
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 0;
}

.cl1 {
	bottom: -5rem;
	left: 0;
}

.cl2 {
	display: none;
	transform: rotateX(180deg);
}

.header-container {
	margin-top: 10rem;
	margin-bottom: 10rem;
	position: relative;
}

.header {
	width: 75%;
	margin: 0 auto 1rem auto;
	font-weight: 500;
	font-size: 3.5rem;
}

.sub-header {
	margin-left: 12.5%;
	margin-bottom: 2rem;
	line-height: 1.5rem;
	color: #D1D5DB;
}

.apply-button {
	height: 2.5rem;
	border-radius: 0.5rem;
	position: relative;
	margin-left: 12.5%;
	padding: 0 1rem;
	border: none;
	background: linear-gradient(155deg, #A076F9 0% 25%, #7A3FF2 50% 100%);
	background-size: 200% 100%;
	background-position: center center;
	transition: 0.4s ease-out;
	z-index: 2;
}

.apply-button:hover {
	cursor: pointer;
	scale: 1.03;
	transform: translateY(-2px);
	background-position: right center;
}

.problem-white {
	text-align: center;
	line-height: 1.5rem;
}

.problem-grey {
	text-align: center;
	line-height: 1.5rem;
	color: #D1D5DB;
}

.problem-grey u, .included-bullet-points li u {
	text-decoration-color: #A076F9;
}

.how-it-works-container {
	display: flex;
	margin: 10rem 0;
	position: relative;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
	z-index: 1;
}

.how-it-works-card {
	height: 18rem;
	width: 17.5rem;
	position: relative;
	border-radius: 10px;
	background: linear-gradient(#1A1A1F 0% 5%, #0f0f12 30% 100%);
	background-size: 100% 150%;
	background-position: center top;
	transition: all 0.3s ease-out;
	border: 1px solid #27272F;
}

.how-it-works-card:hover {
	background-position: center bottom;
}

.how-it-works-icon {
	width: 100%;
	margin: 2.5rem 0;
}

.how-it-works-card h3, .how-it-works-card p {
	width: 90%;
	margin: 0 auto;
}

.how-it-works-card h3 {
	margin-bottom: 2rem;
	line-height: 1.25rem;
	font-size: 1.075rem;
}

.how-it-works-card p {
	color: #D1D5DB;
}

.included-section {
	padding: 2.5rem 0;
	background: linear-gradient(#19191c 0%, #08090a 30% 100%);
}

.included-div {
	width: fit-content;
	border-radius: 10px;
	margin: 10rem auto;
	padding: 2rem;
	border: 1px solid #27272F;
	background: linear-gradient(#1A1A1F 0% 1%, #0f0f12 10% 100%);
	transition: all 1s;
}

.included-div:hover {
	scale: 1.01;
}

.included-div h2 {
	margin-bottom: 1rem;
	font-size: 1.25rem;
	font-weight: 550;
}

.included-bullet-points {
	margin-bottom: 1.5rem;
	padding-left: 1rem;
	font-size: 1.125rem;
	line-height: 2rem;
}

.included-bullet-points li {
	color: #D1D5DB;
}

.apply-button2 {
	width: 100%;
	margin-left: 0;
}

.credibility-section {
	padding-bottom: 12.5rem;
	background: linear-gradient(#08090a 0% 1%, #9f76f92d );
}

.credibility {
	width: 75%;
	margin-left: 12.5%;
	text-align: center;
	color: #D1D5DB;
}

.credibility span {
	color: white;
}

@media (max-width: 768px) {
	.header-container {
		margin-top: 5rem;
	}

	.header {
		width: 85%;
		font-size: 2rem;
	}

	.sub-header {
		width: 85%;
	}

	.sub-header, .apply-button {
		margin-left: 7.5%;
	}

	.problem-grey, .problem-white {
		width: 85%;
		margin-left: 7.5%;
	}

	.how-it-works-container {
		flex-direction: column;
		align-content: center;
		gap: 2rem;
	}

	.cl2 {
		display: block;
	}

	.included-div {
		padding: 1rem;
	}

	.apply-button2 {
		margin-left: 0;
	}

	.credibility {
		width: 85%;
		margin-left: 7.5%;
	}
}

@media (max-width: 400px) {
	.header-container {
		margin-top: 5rem;
	}

	.header {
		font-size: 1.5rem;
	}

	.sub-header {
		margin-bottom: 1rem;
	}

	.sub-header br {
		display: none;
	}

	.apply-button {
		height: 2.25rem;
	}

	.problem-white {
		margin-bottom: 0.5rem;
	}

	.how-it-works-container {
		margin: 5rem 0;
	}

	.included-div {
		margin: 5rem auto;
		width: 90%;
	}
}