* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
	color: #FFFFFF;
	font-size: 16px;
}

body {
	background-color: #08090a;
}

.tick {
	margin-top: 7.5rem;
	margin-left: 50vw;
	transform: translateX(-50%);
}

h1 {
	width: 85%;
	margin-top: 1rem;
	margin-left: 7.5%;
	text-align: center;
	font-size: 2rem;
	font-weight: 500;
}

.message-1, .message-2, .creator-plug {
	width: 85%;
	margin-left: 7.5%;
	text-align: center;
	line-height: 1.5rem;
	color: #D1D5DB;
}

.message-1 {
	margin-top: 2rem;
}

.whiten {
	color: white;
}

.message-2 {
	margin-top: 0.25rem;
}

.creator-plug {
	margin-top: 5rem;
}

.x-link {
	margin-top: 0.5rem;
	margin-left: 50%;
	margin-bottom: 5rem;
	transform: translateX(-50%);
}

.x-link:hover {
	cursor: pointer;
}

@media (max-width: 400px) {
	.tick {
    margin-top: 5rem;
    height: 6rem;
    width: 6rem;
  }
}